body{
      background-color: #80b4d9;
      padding-left: 2%; 
      padding-right: 2%;
      font-family: serif;
      font-size: 1.2em;
}
#header{
      background-color: #29B6F6;
}
#body{
      padding-top: 2%;
}
div.card{
      width: 100%;
      margin: 1;
}

